In [1]:
import pandas as pd

In [17]:
Data = pd.read_csv('Data_Su_2000-2020.csv',sep = ';', skiprows=[23])

In [23]:
Data.head()

,Ano_do_Obito,Regiao_Norte,Regiao_Nordeste,Regiao_Sudeste,Regiao_Sul,Regiao_Centro_Oeste,Total
0,2000,373,1136,2513,2033,725,6780
1,2001,433,1429,3011,2164,701,7738
2,2002,390,1541,2942,2050,803,7726
3,2003,434,1620,3009,2032,766,7861
4,2004,450,1650,2987,2143,787,8017

In [6]:
import statistics
import seaborn as sns

In [44]:
pop_2021=pd.read_csv('Pop2021_2_linhas.csv',sep=';',encoding= 'unicode_escape')

In [48]:
pop_2021.head()

,ï»¿Norte,Rondonia,Acre,Amazonas,Roraima,Para,Amapa,Tocantins,Nordeste,Maranhao,...,Reg_Sul,Parana,Santa_Catarina,RS,RegCentro_Oeste,Mato_GSul,MT,GO,DF,Total
0,18906962,1815278,906876,4269995,652713,8777124,877613,1607363,57667842,7153262,...,30402587,11597484,7338473,11466630,16707336,2839188,3567234,7206589,3094325,213317639

In [7]:
sns.regplot(x='total_bill', y='tip', data = pop_2021); #regreçao linear
sns.relplot(x='total_bill', y='tip', data = pop_2021); # dispersao dos dados

KeyError: 'total_bill'

In [55]:
import statistics as st

In [57]:
st.mean(pop_2021.Distrito Federal)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2737348553.py, line 1)

In [37]:
dados_Norte = {'Regiões': ["Regiao Norte",
"Rondônia",
"Acre",
"Amazonas",
"Roraima",
"Pará",
"Amapá",
"Tocantins"],
'Valores':[18906962,
1815278,
906876,
4269995,
652713,
8777124,
877613,
1607363]}

In [38]:
pd.DataFrame(data=dados_Norte)

        Regiões   Valores
0  Regiao Norte  18906962
1      Rondônia   1815278
2          Acre    906876
3      Amazonas   4269995
4       Roraima    652713
5          Pará   8777124
6         Amapá    877613
7     Tocantins   1607363

In [36]:
pd.DataFrame(data=dados_Norte.Rondonia)

AttributeError: 'dict' object has no attribute 'Rondonia'